<!-- This code contains navigation for an HTML document and uses several classes from Bootstrap for styling. -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Menu</a>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/management">จัดการข้อมูล<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/payment">ตรวจสอบรายละเอียดการโอนเงิน</a>
        </li>      
        <li class="nav-item active">
          <a class="nav-link" href="/about">กำหนดสิทธิ</a>
        </li>
      </ul>

    </div>
  </nav>