<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
        <title>Elderly to Hospital Service System</title>
    </header>
    <body>
        <h1>Welcome! Administrator</h1>







        <footer>
            <%- include('../partials/footer'); %>
        </footer>
        <script type="module" src="geolocation.js"></script>

    </body>

</html>