<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <button type="button" class="btn btn-primary">เพิ่มข้อมูลลูกค้า</button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary">แก้ไขข้อมูลลูกค้า</button>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary">ลบข้อมูลลูกค้า</button>
        </div>
    </div>
</body>

</html>